.about-us
  text-align: center
  padding: 80px 0
  background: $color-black
  force-layer()

  h2
    margin: 0 0 20px 0
    width: 100%
    font-size: 36px
    font-weight: $font-weight-heavy
    text-shadow: 0 1px 2px black(70%)
  
  .top
    p
      width: 750px
      margin: 30px auto
      font-size: 22px
      line-height: 1.3em
      color: $color-lightgray

  .bottom
    display: flex
    justify-content: center
      
  .niki
    tween(500ms)
    opacity: 0
    transform: translateX(-100px)
    margin-right: 20px
    .caption
      text-align: right
      margin-right: 20px
  
  .nate
    tween(500ms)
    opacity: 0
    transform: translateX(100px)
    margin-left: 20px
    .caption
      text-align: left
      margin-left: 20px
  
  &.visible
    .niki, .nate, .center
      opacity: 1
      transform: translateX(0)
    
  .profile
    display: flex
    align-items: center
    
    img
      height: 200px
      border-radius: 10px
    
    .caption
      width: 250px
      .name
        font-size: 22px
      .bio
        margin-top: 12px
        color: $color-lightgray
        font-size: 16px
        line-height: 1.3em
      .contact
        margin: 12px 0 0 0
        padding: 0
        li
          list-style-type: none
          margin: 0
          font-size: 16px
          line-height: 1.3em
          a
            color: $color-lightgray
            text-decoration: none
            border-bottom: 1px solid transparent
            tween(150ms)
            &:hover
              color: $color-white
              border-color: $color-white
