.button
  display: inline-block
  font-family: $font-family-gotham
  font-size: 16px
  font-weight: $font-weight-bold
  border: 2px solid
  border-radius: 10px
  text-transform: uppercase
  padding: 10px 30px
  cursor: pointer
  background: black(50%)
  tween(150ms)
  
  &.orange
    color: $color-brand-orange
    border-color: $color-brand-orange
    &:hover
      color: $color-white
      background: $color-brand-orange
      text-shadow: 0 2px 0 black(30%)
    
  &.pink
    color: $color-brand-pink
    border-color: $color-brand-pink
    &:hover
      color: $color-white
      background: $color-brand-pink
      text-shadow: 0 2px 0 black(30%)
