footer
  width: 100%
  background: $color-black
  padding: 20px 0
  border-top: 1px solid white(10%)
  position: relative
  display: flex
  z-index: 2
  flex-direction: column
  align-items: center
  
  &:hover
    .love
      color: #f00 !important
      animation: heartbeat 1s ease infinite
  
  .links
    display: flex
    margin-bottom: 20px
    
    .left
      display: flex
      align-items: center
      margin-right: 60px
      color: $color-white
      font-family: $font-family-gotham
      font-weight: $font-weight-bold
      font-size: 16px
      text-transform: uppercase
      cursor: pointer
      
      .logo
        height: 40px
        margin-right: 10px
    
    .right
      display: flex
      flex: 1

      ul
        margin: 0
        padding: 0
        
        li
          list-style-type: none
          margin-right: 60px
          font-size: 16px
  
  a
    color: $color-lightgray
    text-decoration: none
    tween(150ms)
    &:hover
      color: $color-white
    
  .bottom
    color: $color-gray
    font-size: 14px
    line-height: 20px
    text-align: center
    
    p
      margin: 0

    .love
      color: $color-gray
      transition: color 150ms ease

  .gradient
    position: absolute
    bottom: 0
    width: 100%
    height: 300px
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, $color-black 70%)
    z-index: 1
    
@keyframes heartbeat
  0%   { transform: scale(1)   }
  50%  { transform: scale(1.5) }
  100% { transform: scale(1)   }
