.icon
  
  path.black  { fill: $color-black        }
  path.white  { fill: $color-white        }
  path.pink   { fill: $color-brand-pink   }
  path.orange { fill: $color-brand-orange }
  path.blue   { fill: $color-brand-blue   }
