.navigation
  width: 100%
  padding: 20px
  display: flex
  
  .left a, .right a
    display: inline-block
    cursor: pointer
    color: $color-white
    font-family: $font-family-gotham
    font-size: 16px
    line-height: 24px
    font-weight: $font-weight-bold
    text-shadow: 0 1px 2px black(70%)
    text-decoration: none
    text-transform: uppercase
    padding: 4px 10px
    border-radius: 10px
    tween(150ms)
    
    &.pink:hover
      background: $color-brand-pink
      
    &.orange:hover
      background: $color-brand-orange
      
    &.blue:hover
      background: $color-brand-blue
      
    &.cta
      border: 2px solid $color-white
      background: black(50%)
      &:hover
        border-color: $color-brand-orange
        background: $color-brand-orange
  
  .left
    flex: 1
    padding: 30px 0 0 40px
    tween(300ms)
    a { margin-right: 40px }
    
  .right
    flex: 1
    text-align: right
    padding: 30px 40px 0 0
    tween(300ms)
    a { margin-left: 40px }
  
  .center
    flex: none
    text-align: center
    tween(300ms)
    
    a
      color: $color-white
      text-decoration: none

    .logo
      height: 90px
      tween(300ms)

    h1
      margin: 0
      font-family: $font-family-gotham
      font-size: 18px
      font-weight: $font-weight-bold
      text-shadow: 0 1px 2px black(70%)
      text-transform: uppercase
      tween(300ms)
      
  &.sticky
    position: fixed
    top: 0
    width: 100vw
    z-index: 100
    padding: 20px
    display: flex
    tween(300ms)
      
  &.sticky.stuck
    padding: 10px 20px
    background: $color-black
    border-bottom: 1px solid $color-darkgray
    box-shadow: 0 0 20px black(50%)
    
    .left, .right
      padding-top: 14px
      
    .center
      .logo
        height: 50px
      h1
        opacity: 0
        height: 0
        margin: 0
