.navigation
  position: fixed
  top: 0
  width: 100%
  z-index: 100
  padding: 20px
  display: flex
  tween(300ms)
  
  &.pinned
    padding: 10px 20px
    background: $color-black
    border-bottom: 1px solid $color-darkgray
    box-shadow: 0 0 20px black(50%)
    .left, .right
      padding-top: 12px
    .center
      .logo
        height: 50px
      h1
        opacity: 0
        height: 0
        margin: 0
  
  a
    display: inline-block
    color: $color-white
    font-family: $font-family-brand
    font-size: 16px
    font-weight: $font-weight-bold
    text-shadow: 0 1px 2px black(70%)
    text-decoration: none
    text-transform: uppercase
    padding: 6px 12px
    border-radius: 10px
    tween(150ms)
    &:hover
      background: white(20%)
  
  .left
    flex: 1
    padding: 30px 0 0 40px
    tween(300ms)
    a { margin-right: 40px }
    
  .right
    flex: 1
    text-align: right
    padding: 30px 40px 0 0
    tween(300ms)
    a { margin-left: 40px }
  
  .center
    flex: none
    text-align: center

    .logo
      height: 120px
      tween(300ms)

    h1
      margin: 8px 0 0 0
      font-family: $font-family-brand
      font-size: 20px
      font-weight: $font-weight-bold
      text-shadow: 0 1px 2px black(70%)
      text-transform: uppercase
      tween(300ms)
