section
  border-top: 10px solid
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  background: linear-gradient(to bottom, white(20%) 0%, white(2%) 600px)

  &.orange
    border-color: $color-brand-orange
    
  &.pink
    border-color: $color-brand-pink
    
  &.blue
    border-color: $color-brand-blue

  h3
    margin: 40px 0
    font-size: 2.4rem
    line-height: 2.8rem
    font-weight: $font-weight-heavy
    text-shadow: 0 2px 3px black(70%)

  .video
    margin-bottom: 60px
    width: 70vw
    min-width: 600px
    background: $color-black
    box-shadow: 0 0 50px black(70%)
    border: 1px solid white(30%)
  
  .cta
    padding: 40px 0 60px 0
    width: 100%
    text-align: center    
    background: linear-gradient(to bottom, black(0%) 0%, black(100%) 100%)