.slide
  position: absolute
  display: flex
  align-items: center
  
  &.fade-enter { animation: slide-fade-in  500ms ease }
  &.fade-leave { animation: slide-fade-out 500ms ease }
  
  .text
    width: 600px
    margin-right: 20px
    
    h3
      margin: 0 0 24px 0
      font-size: 28px
      font-weight: $font-weight-heavy
    
    p
      margin: 0 0 24px 0
      font-size: 22px
      line-height: 1.3em
      color: $color-lightgray
    
    em
      color: $color-verylightgray

  .graphic
    width: 260px
    text-align: right
    
@keyframes slide-fade-in
  from { opacity: 0 }
  to   { opacity: 1 }

@keyframes slide-fade-out
  from { opacity: 1 }
  to   { opacity: 0 }
