@charset 'UTF-8'

html
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

body
  font: 18px/24px $font-family-content
  font-weight: $font-weight-normal
  background: $color-black
  color: $color-white
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased