@charset 'UTF-8'

html
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

body
  font: 18px/24px $content-font
  background: #101010
  color: #f9f9f9
