@charset 'UTF-8'

html, body
  box-sizing: border-box
  height: 100%
  width: 100%
  
*, *:before, *:after
  box-sizing: inherit

body
  font-family: $font-family-whitney
  font-size: 18px
  font-weight: $font-weight-normal
  line-height: 1.4em
  background: $color-black
  color: $color-white
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: subpixel-antialiased

strong
  font-weight: $bold-font-weight
