$font-family-whitney = "Whitney A", "Whitney B"
$font-family-gotham  = "Gotham SSm A", "Gotham SSm B"

$font-weight-normal  = 400
$font-weight-bold    = 500
$font-weight-heavy   = 600

$color-black         = #101010
$color-verydarkgray  = #202020
$color-darkgray      = #303030
$color-gray          = #606060
$color-lightgray     = #a0a0a0
$color-white         = #ffffff
$color-brand-pink    = #c5358d
$color-brand-orange  = #fe8b00
$color-brand-blue    = #0687ca

black(value)
  rgba(0, 0, 0, value)

white(value)
  rgba(255, 255, 255, value)

orange(value)
  rgba(254, 139, 0, value)

tween(delay, easing = ease)
  transition: all delay easing
